<a href="#" class="snippet">
  <h3 class="snippet__proj-title">{{project?.title}}</h3>
  <p class="snippet__proj-desc">
    {{project?.description.substring(0, 255)}}
  </p>
  <div class="snippet__proj-tags">
    <div *ngFor="let tag of tags" class="proj-tags__item">{{tag}}</div>
  </div>
  <div class="snippet__proj-info">
    <span class="snippet__status">
      Статус: <span class="status-active">{{statusMap.get(project.status)}}</span>
    </span>
    <span class="snippet__members">
      Занято: 30
    </span>
    <span class="snippet__curator">
      Куратор: {{curatorName}} {{curatorSurname}}
    </span>
  </div>
</a>
