.snippet {
  height: auto;
  width: 100%;
  background-color: #fff;
  color: #253942;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px 15px;
  box-sizing: border-box;
  display: block;
  transition: 0.25s;
}

.snippet:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16),
  0 3px 20px rgba(0, 0, 0, 0.23);
  border: none;
}

.snippet__link {
  display: block;
}

.snippet__proj-title {
  margin-bottom: 10px;
}

.snippet__curator {
  color: #6a767c;
}

.snippet__proj-desc {
  font-size: 15px;
  margin: 10px 0 10px 0;
}

.snippet__proj-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom: 1px solid #707070;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.snippet__proj-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.snippet__proj-comment {
  margin-top: 1%;
  background: #eee;
  color: #ff1934;
  padding: 1%;
}

@media (min-width: 440px) and (max-width: 450px) {
  .snippet__proj-info {
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) {
  .snippet {
    width: 100%;
  }
}
