.snippet {
  height: auto;
  width: 100%;
  /*background-color: #fff;*/
  /*color: #253942;*/
  color: #eee;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  display: block;
  transition: .25s;
}

.snippet:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.16),
  0 3px 20px rgba(0, 0, 0, 0.23);
  border: none;
}

.snippet__link {
  display: block;
}

.snippet__proj-title {
  margin-bottom: 10px;
}

.snippet__curator {
  /*color: #6a767c;*/
  color: #fff;
}

.snippet__proj-desc {
  font-size: 15px;
  margin: 10px 0 10px 0;
}

.snippet__proj-tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*border-bottom: 1px solid #d1d1d1;*/
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.snippet__proj-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.snippet__inner {
  background: rgba(0, 0, 0, .6) url("https://avatars.mds.yandex.net/get-pdb/49816/6cf1a46b-dc58-4852-8687-b159af279e99/s1200") center no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.snippet__wrapper {
  padding: 20px 15px;
}

.snippet__bottom {
  padding: 20px 15px;
  color: #000;
}

.snippet__proj-comment {
  margin-top: 1%;
  background: #eee;
  color: #ff1934;
  padding: 1%;
}

@media (min-width: 440px) and (max-width: 450px) {
  .snippet__proj-info {
    font-size: 13px;
  }
}

@media screen and (max-width: 1200px) {
  .snippet {
    width: 100%;
  }
}
