<header сlass="header">
  <div class="page-wrapper">
    <div class="header__content">
      <div class="header__left-side">
        <div class="header__logo">
          <a [routerLink]="['/']">
            <img class="logo-image" src="../../assets/logo.png" alt="logo" draggable="false">
          </a>
        </div>
        <div class="header__menu">
          <a class="menu__item" [routerLink]="['/']"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <span class="menu__item__link">все проекты</span>
          </a>
          <a [ngClass]="{'disabled': !authService.isAuthorized()}" class="menu__item" [routerLink]="['/cabinet']"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <span class="menu__item__link">личный кабинет</span>
          </a>
        </div>
      </div>

      <div *ngIf="!authService.isAuthorized()" class="header__reg-auth">
        <a [routerLink]="'/login'" class="reg-auth__item">Вход</a> /
        <a [routerLink]="'/register'" class="reg-auth__item">Регистрация</a>
      </div>

      <div *ngIf="authService.isAuthorized()" class="header__profile-link">
        <a routerLink="/user/{{user?.id}}" class="profile-link__link">
          <h3 class="profile-link__name">{{user?.surname}} {{user?.name.length == 0 ? '' : user?.name}}</h3>
          <div class="profile-link__photo">
            <img src="{{user?.avatar.length == 0 ? '../assets/img/avatar.png' : user?.avatar}}"
                 class="profile-link__photoContent" alt="Фотография">
          </div>
        </a>
        <div class="profile-link__logout">
          <a (click)="authService.logout()" class="profile-link__logout">выйти</a>
        </div>
      </div>
      <!--<div class="header__adapt-menu">
        <img [src]="user?.avatar.length == 0 ? '../assets/img/avatar.png' : user?.avatar"
             class="profile-link__photoContent" alt="Avatar">
      </div>-->
    </div>
  </div>
</header>
