header {
  width: 100%;
  height: 60px;
  background-color: #30323f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 20px;
  position: relative;
  z-index: 500;
}

.burger__menu {
  display: none;
}

.logo-image {
  height: 50px;
  width: 50px;
  padding-top: 4px;
}

.header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__menu {
  margin-left: 50px;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.header__title {
  font-size: 13px;
}

.menu__item {
  margin-right: 20px;
  height: 100%;
  padding: 0 20px;
  transition: 0.1s;
  color: white;
  border-bottom: 0 solid #207ec9;
  box-sizing: border-box;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu__item:hover {
  border-bottom-width: 4px;
  padding-top: 4px;
  cursor: pointer;
}

.profile-link__link {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-link__name {
  font-size: 15px;
  color: white;
}

.profile-link__logout {
  color: #207ec9;
  margin-left: 10px;
  font-size: 15px;
}

.profile-link__logout:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header__profile-link {
  display: flex;
  align-items: center;
}

.profile-link__photo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.profile-link__photoContent {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.active {
  border-bottom-width: 4px;
  padding-top: 4px;
}

.disabled {
  color: #adadad !important;
}

.disabled:hover {
  border-bottom-width: 0;
  padding-top: 0;
  cursor: default;
}
.active:hover {
  border-bottom-width: 4px;
  padding-top: 4px;
}

@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  header {
    margin-bottom: 15px;
  }

  .page-wrapper {
    width: 90%;
  }
  .header__menu {
    display: none;
  }

  .header__profile-link {
    display: none;
  }

  .header__left-side {
    width: 100%;
    justify-content: space-between;
  }

  .burger__menu {
    display: block;
  }
}

@media (max-width: 991.98px) {
  .page-wrapper {
    width: 95%;
  }
}

@media (max-width: 1199.98px) {
  .page-wrapper {
    width: 95%;
  }
}
