<header сlass="header">
  <div class="page-wrapper">
      <div class="header__content">
          <div class="header__left-side">
              <div class="header__logo">
                  <a href="index.html">
                      <img class="logo-image" src="../assets/logo.png" alt="logo">
                  </a>
              </div>
              <div class="header__menu">
                  <div class="menu__item">
                      <a href="index.html" class="menu__item__link">все проекты</a>
                  </div>
                  <div class="menu__item">
                      <a href="workerCabinet.html" class="menu__item__link">личный кабинет</a>
                  </div>
              </div>
          </div>
          <div class="header__profile-link">
              <a class="profile-link__link" href="#">
                  <h3 class="profile-link__name">Барашкова Дарья</h3>
                  <div class="profile-link__photo" style="background: url(../assets/img/defaultAvatar.png) 0 0 no-repeat; background-size: cover; background-position: center;">
                  </div>
              </a>
              <div class="profile-link__logout">
                  <a href="#" class="profile-link__logout">выйти</a>
              </div>
          </div>
          <div class="header__adapt-menu">
              <h2>E</h2>
          </div>
      </div>
  </div>
</header>