<div class="page-wrapper">
  <div class="auth-form">
    <div class="form__title">
      <div class="auth-form__back-button">
        <a (click)="back()">
          <img class="auth-form__back-image" src="../assets/img/back_button.svg" alt="back button">
        </a>
      </div>
      <h2 class="form__reg">Авторизация</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="authorize()" class="auth-form__form">
      <label for="email">
        Введите почту <br>
        <input type="email" id="email" class="auth-form__input" formControlName="email">
      </label>
      <label for="password">
        Введите пароль <br>
        <input type="password" id="password" class="auth-form__input" formControlName="password">
      </label>
      <button [disabled]="!loginForm.valid" type="submit" class="button auth-form__button" #loginButton>
        Войти
      </button>
    </form>
    <div class="register-block">
      <a [routerLink]="['/register']" class="register-block__link">Зарегистрироваться</a>
    </div>
    <div class="auth-social-block">
      <h3 class="auth-social-block__title">Войдите с помощью соцсетей</h3>
      <div class="auth-social-block__list">
        <div class="auth-social-block__list-item">
          <a href="#"><img src="../assets/img/vk_icon.svg" class="auth-social-block__image" alt="vkontakte"></a>
        </div>
        <div class="auth-social-block__list-item">
          <a href="#"><img src="../assets/img/yandex_icon.svg" class="auth-social-block__image" alt="yandex"></a>
        </div>
      </div>
    </div>
  </div>
</div>
