<app-preloader *ngIf="loading"></app-preloader>
<h2 *ngIf="totalPages===0" class="not-found-label">Проектов на рассмотрении нет</h2>
<app-project-snippet [project]="project"
                     *ngFor="let project of projects | paginate: {
                               id: 'pending',
          itemsPerPage: perPage, currentPage: currentPage, totalItems: perPage*totalPages
          }"></app-project-snippet>
<pagination-controls *ngIf="totalPages>0"
                     responsive="true"
                     nextLabel="Вперёд"
                     previousLabel="Назад"
                     (pageChange)="switchPage($event)" [id]="'pending'"></pagination-controls>
