<main class="main">
    <div class="cabinet-wrapper">
        <div class="tabs_block">
            <div class="tabs-items">
                <a href="#" class="tabs_block__item tabs_block__item-active">активные</a>
                <a href="#" class="tabs_block__item">на рассмотрении</a>
                <a href="#" class="tabs_block__item">архив</a>
            </div>
            <div class="create-project">
                <a href="#" class="button project-cr-button">создать проект</a>
            </div>
        </div>
        <div class="snippet_column">
            <a href="#" class="snippet">
                <h3 class="snippet__proj-title">Название</h3>
                <p class="snippet__proj-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac
                    blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor
                    mauris molestie elit, et lacinia ipsum quam nec dui
                </p>
                <div class="snippet__proj-tags">
                    <div class="proj-tags__item">Дизайн</div>
                    <div class="proj-tags__item">Маркетинг</div>
                </div>
                <div class="snippet__proj-info">
                    <span class="snippet__status">
                        Статус: <span class="status-active">Активен</span>
                    </span>
                    <span class="snippet__members">
                        Занято: 30
                    </span>
                    <span class="snippet__curator">
                        Куратор: Иван Иванов
                    </span>
                </div>
            </a>
            <a href="#" class="snippet">
                <h3 class="snippet__proj-title">Название</h3>
                <p class="snippet__proj-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac
                    blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor
                    mauris molestie elit, et lacinia ipsum quam nec dui
                </p>
                <div class="snippet__proj-tags">
                    <div class="proj-tags__item">Дизайн</div>
                    <div class="proj-tags__item">Маркетинг</div>
                </div>
                <div class="snippet__proj-info">
                    <span class="snippet__status">
                        Статус: <span class="status-active">Активен</span>
                    </span>
                    <span class="snippet__members">
                        Занято: 30
                    </span>
                    <span class="snippet__curator">
                        Куратор: Иван Иванов
                    </span>
                </div>
            </a>
        </div>
    </div>
</main>