<main class="main">
  <div class="cabinet-wrapper">
    <div class="tabs_block">
      <mat-tab-group dynamicHeight="true" animationDuration="300">
        <mat-tab label="Активные">
          <app-preloader *ngIf="loading"></app-preloader>
          <app-project-snippet [project]="project"
                               *ngFor="let project of projects | paginate: {
          itemsPerPage: perPage, currentPage: currentPage, totalItems: perPage*totalPages
          }"></app-project-snippet>
          <pagination-controls
            responsive="true"
            nextLabel="Вперёд"
            previousLabel="Назад"
            (pageChange)="switchPage($event)"></pagination-controls>
        </mat-tab>
        <mat-tab label="На рассмотрении">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Архив">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="create-project">
      <a href="#" class="button project-cr-button">создать проект</a>
    </div>
  </div>
</main>
