<app-preloader *ngIf="loading"></app-preloader>
<h2 *ngIf="totalPages===0" class="not-found-label">Нет новых проектов</h2>
<main class="main">
  <div class="cabinet-wrapper">
    <h1 style="text-align: center; margin: 2% 0">Ожидающие модерации проекты</h1>
    <div class="snippet-block">
      <app-adm-project-snippet [project]="project" *ngFor="let project of projects | paginate: {
      id: 'pending',
        itemsPerPage: perPage, currentPage: currentPage, totalItems: perPage*totalPages
        }"></app-adm-project-snippet>
      <pagination-controls *ngIf="totalPages>0"
                           responsive="true"
                           nextLabel="Вперёд"
                           previousLabel="Назад"
                           (pageChange)="switchPage($event)" [id]="'pending'"></pagination-controls>
    </div>
  </div>
</main>

