<main class="main">
    <div class="cabinet-wrapper">
        <div class="snippet-block">
            <a href="#" class="snippet">
                <h3 class="snippet__proj-title">Название</h3>
                <p class="snippet__proj-desc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                    vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac
                    blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor
                    mauris molestie elit, et lacinia ipsum quam nec dui
                </p>
                <div class="snippet__proj-tags">
                    <div class="proj-tags__item">Дизайн</div>
                    <div class="proj-tags__item">Маркетинг</div>
                </div>
                <div class="snippet__proj-info">
                    <span class="snippet__status">
                        Статус: <span class="status-active">Активен</span>
                    </span>
                    <span class="snippet__members">
                        Занято: 30
                    </span>
                    <span class="snippet__curator">
                        Куратор: Иван Иванов
                    </span>
                </div>
            </a>
            <div class="approval-form">
                <form action="POST">
                    <div class="approval-form__choice">
                        <label class="approve" for="approve">одобрить проект
                            <input type="radio" name="project-approve" onclick="showFields()">
                        </label>
                        <label class="approve" for="approve">отказать в публикации
                            <input type="radio" name="project-approve" onclick="showFields()" >
                        </label>
                    </div>
                    <div class="approval-form__reason" id="reason">
                        <h4 class="reason-title">Пожалуйста, укажите причину</h4>
                        <textarea rows="6" class="reason-block"></textarea>
                    </div>
                    <div class="approval-form__button">
                        <button class="button approve-button">подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>