<div class="cabinet-wrapper">
  <div class="column">
    <app-preloader *ngIf="loading"></app-preloader>
    <h2 style="text-align: center; margin: 2% 0">Ожидающие модерации проекты</h2>
    <h2 *ngIf="totalPages===0">Нет новых проектов</h2>

      <app-adm-project-snippet [project]="project" *ngFor="let project of projects?.data | paginate: {
      id: 'pending',
        itemsPerPage: perPage, currentPage: currentPage, totalItems: perPage*totalPages
        }"></app-adm-project-snippet>
      <div class="pagination">
        <pagination-controls *ngIf="totalPages>0"
                             responsive="true"
                             nextLabel="Вперёд"
                             previousLabel="Назад"
                             (pageChange)="switchPage($event)" [id]="'pending'"></pagination-controls>
      </div>

  </div>
  <div class="column">
    <nav class="menu">
      <a class="menu-item" (click)="openTagsDialog()">Теги</a>
      <a class="menu-item" (click)="snackBar.open('Раздел находится в разработке','Закрыть',{duration: 3500})">
        История действий</a>
    </nav>
    <ng-template #tagsModal>
      <mat-dialog-content>
        <app-editable-list [label_add]="'Добавить тег'" [label_edit]="'Редактировать'" [label_confirm]="'Подтвердить'"
                           [label_remove]="'Удалить'" [label_cancel]="'Отменить'"
                           [removeModalQuestion]="'Подтвердите удаление'"
                           [confirmRemove]="true" [header]="'Теги'"
                           [items]="tags" (removed)="onDeleteTag($event)"
                           (edited)="onEditTag($event)" (added)="onAddTag($event)"></app-editable-list>
      </mat-dialog-content>
    </ng-template>
  </div>
</div>
