<main class="main">
    <div class="page-wrapper">
        <div class="project-view">
            <div class="project-view__top-info">
                <h5 class="project-view__id">№2313</h5>
                <h4 class="project-view__status">на рассмотрении</h4>
            </div>
            <h4 class="project-view__title">СУПЕР-ПУПЕР ПРОЕКТ АФИГЕТЬ</h4>
            <div class="project-view__info">
                <p class="project-view__description">
                    Lorem ipsum dolor sit amet consectetur\ adipisicing elit.
                    Quos nobis placeat accusantium delectus consectetur, voluptas
                    ratione repellendus voluptatibus ipsam assumenda esse maiores
                    dolorem eligendi suscipit ex repellat nulla dolores non?
                </p>
                <div class="project-view__dead-line info-block">
                    <h4 class="point-title"><b>Запись до: </b>28.08.1999</h4>
                </div>
                <div class="project-view__curator info-block">
                    <h4 class="point-title" style="margin-right: 5px;"><b>Куратор: </b></h4><a class="curator-link"
                        href="#">Чикунов Кекал Кекалович</a>
                </div>
                <div class="project-view__tags info-block">
                    <h4 class="point-title"><b>Теги: </b></h4>
                    <div class="tags__tags-block">
                        <div class="snippet__proj-tags">
                            <div class="proj-tags__item">Дизайн</div>
                            <div class="proj-tags__item">Маркетинг</div>
                            <div class="proj-tags__item">Маркетинг</div>
                            <div class="proj-tags__item">Маркетинг</div>
                        </div>
                    </div>
                </div>
                <div class="project-view__places info-block">
                    <h4 class="point-title" style="margin-right: 5px;"><b>Заполненность: </b>25/30</h4>
                </div>
            </div>
            <div class="teams">
                <div class="team-block">
                    <div class="team-block__top field">
                        <h4>Команда №1</h4>
                    </div>
                    <div class="team-block__teammates">
                        <div class="teammate field">
                            <div class="teammate__info">
                                <span class="teammate__job">Frontend: </span>
                                <span>Иванов Иван</span>
                            </div>
                            <a class="button" href="#">профиль</a>
                        </div>
                        <div class="teammate field">
                                <div class="teammate__info">
                                    <span class="teammate__job">Frontend: </span>
                                    <span>Иванов Иван</span>
                                </div>
                                <a class="button" href="#">профиль</a>
                            </div>
                            <div class="teammate field">
                                    <div class="teammate__info">
                                        <span class="teammate__job">Frontend: </span>
                                        <span>Иванов Иван</span>
                                    </div>
                                    <a class="button" href="#">профиль</a>
                                </div>
                    </div>
                </div>
                <div class="team-block">
                        <div class="team-block__top field">
                            <h4>Команда №1</h4>
                        </div>
                        <div class="team-block__teammates">
                            <div class="teammate field">
                                <div class="teammate__info">
                                    <span class="teammate__job">Frontend: </span>
                                    <span>Иванов Иван</span>
                                </div>
                                <a class="button" href="#">профиль</a>
                            </div>
                            <div class="teammate field">
                                    <div class="teammate__info">
                                        <span class="teammate__job">Frontend: </span>
                                        <span>Иванов Иван</span>
                                    </div>
                                    <a class="button" href="#">профиль</a>
                                </div>
                                <div class="teammate field">
                                        <div class="teammate__info">
                                            <span class="teammate__job">Frontend: </span>
                                            <span>Иванов Иван</span>
                                        </div>
                                        <a class="button" href="#">профиль</a>
                                    </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</main>