.cabinet-wrapper {
  width: 65%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.apps__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #7b7b7b;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 20px 0 10px 0;
  text-align: center;
  font-weight: bold;

  div {
    &:first-child {
      flex: 3;
    }

    &:nth-child(3), &:nth-child(4) {
      flex: 2;
    }

    &:nth-child(2) {
      flex: 1;
    }

    &:last-child {
      flex: 2;
    }
  }
}

.tabs_block {
  flex: 80%;
  max-width: 1200px;
}

mat-tab-group {
  max-width: 700px;
  width: 100%;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 575.98px) {
  .page-wrapper {
    width: 90%;
  }

  .cabinet-wrapper {
    width: 90%;
  }

  .tabs_block__item {
    margin-right: 30px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .page-wrapper {
    width: 95%;
  }

  .cabinet-wrapper {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .page-wrapper {
    width: 95%;
  }

  .cabinet-wrapper {
    width: 95%;
  }
}
