<h4 style="text-align: center;margin-top:3%" *ngIf="!projects">Список проектов пуст</h4>
<app-project-snippet [project]="project"
                     *ngFor="let project of projects | paginate: {
          itemsPerPage: perPage, currentPage: currentPage, totalItems: perPage*totalPages, id: id
           }"></app-project-snippet>
<pagination-controls *ngIf="totalPages>1"
                     responsive="true"
                     nextLabel="Вперёд"
                     previousLabel="Назад"
                     (pageChange)="onSwitchPage($event)" [id]="id"></pagination-controls>
