<main class="cabinet-wrapper">
  <div class="tabs_block">
    <a routerLink="/cabinet/create_project" class="button project-cr-button mobile">создать проект</a>
    <mat-tab-group dynamicHeight="true" animationDuration="300">
      <mat-tab label="Активные">
        <app-projects [projects]="activeProjects" [currentPage]="currentPage.active" [id]="'active'"
                      [totalPages]="totalPages.active" (switchPage)="switchPage($event)">
        </app-projects>
      </mat-tab>
      <mat-tab label="На рассмотрении">
        <app-projects [projects]="pendingProjects" [currentPage]="currentPage.pending" [id]="'pending'"
                      [totalPages]="totalPages.pending" (switchPage)="switchPage($event)">
        </app-projects>
      </mat-tab>
      <mat-tab label="Архив">
        <app-projects [projects]="archiveProjects" [currentPage]="currentPage.archive" [id]="'archive'"
                      [totalPages]="totalPages.archive" (switchPage)="switchPage($event)">
        </app-projects>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="create-project">
    <a routerLink="/cabinet/create_project" class="button project-cr-button">создать проект</a>
  </div>
</main>

