.page-wrapper {
  width: 75%;
  max-width: 1330px;
}

h3 {
  margin: 2% 0;
}

.header__reg-auth {
  font-size: 15px;
}

.reg-auth__item {
  &:hover {
    text-decoration: underline;
  }
}

.logo-image {
  height: 50px;
  width: 50px;
  padding-top: 4px;
}

.columns-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.columns-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.snippet-column {
  width: 55%;
}

.filter-column {
  width: 25%;
}

.filter-block {
  width: 90%;
  max-width: 350px;
  height: 500px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #fff;
  padding: 20px 15px;
  position: sticky;
  top: 0;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.button_filter {
  width: 35%;
  display: none;
  height: 40px;
  margin-bottom: 15px;
}

.filter-block__cancel {
  display: none;
  margin-top: 2%;

  button {
    width: 100%;
  }
}

.filter-block__reset {
  text-align: center;

  button {
    width: 100%;
  }
}

.search {
  width: 75%;
  margin: 1% 0;
}

.filter {
  display: flex;
}

.sorts__item {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}

@media (max-width: 767.98px) {
  .page-wrapper {
    width: 90%;
  }

  .snippet-column {
    width: 100%;
  }

  header {
    margin-bottom: 20px;
  }

  .button_filter {
    display: block;
    margin-bottom: 10px;
  }

  .columns-block {
    flex-direction: column-reverse;
  }

  .filter-column {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 501;
    display: none;
  }

  .filter-block {
    height: 100vh;
    margin: auto;
    box-sizing: border-box;
  }

  .filter-block__cancel {
    display: flex;
    justify-content: center;
  }

  .mobileOverlay {
    display: block
  }

  .filter {
    justify-content: space-around;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .page-wrapper {
    width: 95%;
  }

  .filter-column {
    width: 35%;
  }

  .filter-block {
    width: 90%;
  }
}


@media (min-width: 991px) and (max-width: 1210px) {
  .page-wrapper {
    width: 95%;
  }

  .snippet-column {
    width: 60%;
  }

  .filter-column {
    width: 35%;
  }

}

@media (min-width: 1211px) {
  .filter-column {
    width: 35%;
  }

  .snippet-column {
    width: 60%;
  }
}
