<main class="page-wrapper">
  <button class="button button_filter" (click)="filters.classList.add('mobileOverlay')">фильтры</button>
  <div class="columns-wrapper">
    <div class="columns-block">
      <div class="snippet-column">
        <app-search [target]="'project'"></app-search>
        <app-preloader *ngIf="loading"></app-preloader>
        <app-projects [projects]="projects" [id]="'projects_list'" [currentPage]="currentPage" [totalPages]="totalPages"
                      (switchPage)="switchPage($event)">
        </app-projects>
      </div>
      <div class="filter-column" #filters>
        <div class="filter-block">
          <h3>фильтры</h3>
          <div class="filter-block__body">
            <div class="filter">
              <mat-form-field>
                <mat-select multiple placeholder="По тегам" [(ngModel)]="selectedTags" [compareWith]="compareFn"
                            (ngModelChange)="onTagsFilterChange($event)"
                            #tagsSelect="ngModel">
                  <mat-option *ngFor="let tag of tags" [value]="tag">
                    {{tag.category}} | {{tag.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button [disabled]="selectedTags.length==tags?.length" mat-button mat-icon-button
                      matTooltip="Отметить всё" aria-label="Отметить все теги"
                      color="primary"
                      (click)="selectAllTags(tagsSelect, tags)">
                <mat-icon>check</mat-icon>
              </button>
              <button [disabled]="selectedTags.length==0" mat-button mat-icon-button matTooltip="Снять выделение"
                      aria-label="Снять выделение со всех тегов"
                      color="primary"
                      (click)="deselectAllTags(tagsSelect)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
            <h3>сортировки</h3>
            <div class="sorts">
              <div class="sorts__item">
                <div>По дате завершения проекта</div>
                <div>
                  <mat-icon [color]="sortOptions=='finish_date'?'primary':undefined">arrow_upward</mat-icon>
                  <mat-slide-toggle color="primary" id="finishDateSort" [checked]="sortOptions=='-finish_date'"
                                    (change)="onSortOptionsChange($event)"></mat-slide-toggle>
                  <mat-icon [color]="sortOptions=='-finish_date'?'primary':undefined">arrow_downward</mat-icon>
                </div>
              </div>
              <div class="sorts__item">
                <div>По дате окончания записи</div>
                <div>
                  <mat-icon [color]="sortOptions=='deadline'?'primary':undefined">arrow_upward</mat-icon>
                  <mat-slide-toggle color="primary" id="deadlineSort" [checked]="sortOptions=='-deadline'"
                                    (change)="onSortOptionsChange($event)"></mat-slide-toggle>
                  <mat-icon [color]="sortOptions=='-deadline'?'primary':undefined">arrow_downward</mat-icon>
                </div>
              </div>
              <div class="sorts__item">
                <div>По новизне</div>
                <div>
                  <mat-icon [color]="sortOptions=='id'?'primary':undefined">arrow_upward</mat-icon>
                  <mat-slide-toggle color="primary" id="idSort" [checked]="sortOptions=='-id'"
                                    (change)="onSortOptionsChange($event)"></mat-slide-toggle>
                  <mat-icon [color]="sortOptions=='-id'?'primary':undefined">arrow_downward</mat-icon>
                </div>
              </div>
            </div>

          </div>
          <div class="filter-block__reset">
            <button [disabled]="sortOptions=='-id' && selectedTags.length==0" mat-button mat-raised-button
                    (click)="router.navigate(['/'])">сбросить
            </button>
          </div>
          <div class="filter-block__cancel">
            <button mat-button mat-raised-button (click)="filters.classList.remove('mobileOverlay')">отмена</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
