.messages-container {
  background: #eee;
  border-radius: 3px;
  min-height: 250px;
  height: 20vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  resize: vertical;
}

.chat-controls {
  display: flex;
}

mat-form-field {
  width: 90%
}

.chat-controls button[mat-button] {
  width: 10%;
}

mat-icon {
  transition: color 250ms ease-out;
}

button[disabled] mat-icon {
  color: #eee;
}

.empty-message {
  text-align: center;
  padding: 1%
}

.single-message {
  display: flex;
  width: 75%;
  transition: all 250ms;
  margin: 0 0 0 5px;
}

.single-message:hover > .single-message__controls {
  transform: translateX(0);
}

.single-message:not(:first-child) {
  margin-top: 10px;
}

.single-message__controls {
  position: relative;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 150ms ease-out;
  z-index: 1;
}

.single-message__content {
  background: #207ec9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  position: relative;
  z-index: 5;
  width: 100%;
  box-shadow: 0 0 2px #333;
  border-radius: 5px 5px 5px 0;
  padding: 1%;
}

.single-message__footer {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: .8em;
  text-align: right;
  margin-top: .5em;
}

.float-right {
  align-self: flex-end;
  border-radius: 5px 5px 0 5px;
  margin: 0 5px 0 0;
}
