<main class="main">
  <div class="cabinet-wrapper">
    <div class="tabs_block">
      <mat-tab-group dynamicHeight="true" animationDuration="300">
        <mat-tab label="Проекты">
          <app-projects [projects]="projects?.active_projects" [id]="'user_active'"></app-projects>
        </mat-tab>
        <mat-tab label="Заявки">
          <div class="apps__header" *ngIf="apps?.data?.length > 0">
            <div class="apps__item">Проект</div>
            <div class="apps__item">Команда</div>
            <div class="apps__item">Должность</div>
            <div class="apps__item">Комментарий</div>
          </div>
          <div class="apps__body">
            <h4 style="text-align: center;margin-top:3%" *ngIf="apps?.data==null">Список заявок пуст</h4>
            <app-application-snippet [application]="app" *ngFor="let app of apps?.data | paginate: {
                               id: 'apps',
          itemsPerPage: per_page, currentPage: page, totalItems: per_page*apps?.pages
          }"></app-application-snippet>
            <div class="pagination">
              <pagination-controls *ngIf="apps?.pages>0"
                                   responsive="true"
                                   nextLabel="Вперёд"
                                   previousLabel="Назад"
                                   (pageChange)="switchPage($event)" [id]="'apps'"></pagination-controls>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Архив проектов">
          <app-projects [projects]="projects?.finished_projects" [id]="'user_archive'"></app-projects>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</main>
