<main class="main">
  <div class="cabinet-wrapper">
    <div class="tabs_block">
      <mat-tab-group dynamicHeight="true" animationDuration="300">
        <mat-tab label="Проекты">
          <!--<app-projects [projects]=""></app-projects>-->
        </mat-tab>
        <mat-tab label="Заявки">
          В разработке
        </mat-tab>
        <mat-tab label="Архив проектов">
          <!--<app-projects [projects]=""></app-projects>-->
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</main>
