<main class="main">
  <div class="page-wrapper">
    <form class="form" [formGroup]="createProjectForm" (ngSubmit)="requestCreateProject()">
      <div class="form__title">
        <div class="auth-form__back-button">
          <a (click)="back()">
            <img class="auth-form__back-image" src="../assets/img/back_button.svg" alt="Назад" width="20"
                 height="20">
          </a>
        </div>
        <h2 class="form__reg">создание проекта</h2>
      </div>
      <div class="form__user-info">
        <label>Название проекта
          <input autofocus required type="text" placeholder="Не более 255 символов" class="form__input"
                 formControlName="title"></label>
        <label for="project_desc">Описание проекта</label>
        <img
          matTooltip="Укажите всю необходимую о проекте информацию: цель проекта, задачи, контакты и другое. Первые 255 символов будут отображаться в карточке проекта в качестве краткого описания."
          matTooltipClass="tooltip"
          matTooltipShowDelay="200"
          class="info-icon" src="../assets/img/info.svg" alt="Информация">
        <br><textarea required id="project_desc"
                      [ngStyle]="getTextAreaCols()"
                      rows="2" class="form__textarea" formControlName="description"></textarea>
        <br>
        <label>Крайняя дата записи на проект
          <input required type="date" class="form__input form__date" formControlName="deadline">
        </label>
        <label>Специальности(роли)
          <img
            matTooltip="Специальности обязательно перечисляйте через запятую. Например: Frontend-разработчик, Web-дизайнер"
            matTooltipClass="tooltip"
            class="info-icon" src="../assets/img/info.svg" alt="Информация">
          <input required type="email" class="form__input" placeholder="От 1 до 10 специальностей"
                 formControlName="roles"></label>
        <label>Количество команд
          <img
            matTooltip="В каждой из команд будут те специальности, которые вы укажете в поле 'Специальности(роли)'"
            matTooltipClass="tooltip"
            class="info-icon" src="../assets/img/info.svg" alt="Информация">
          <input required type="number" min="1" max="10" maxlength="2"
                 placeholder="От 1 до 10 команд"
                 class="form__input form__date"
                 formControlName="teamsCount"></label>
        <label>
          Теги проекта<img
          matTooltip="Выберите необходимые для проекта компетенции. По ним студент сможет отфильтровать проекты и найти подходящий"
          matTooltipClass="tooltip"
          class="info-icon" src="../assets/img/info.svg" alt="Информация"><br>
          <mat-form-field>
            <mat-select placeholder="Не более 7 тегов" formArrayName="tags" multiple required>
              <mat-option *ngFor="let tag of tagsArray" (onSelectionChange)="toggleTag(tag)"
                          [disabled]="tagsMaximum && tagsMap.get(tag) === false"
                            [value]="tag">{{tag}}</mat-option>
            </mat-select>
          </mat-form-field>
        </label>
        <div class="form__submit">
          <button [disabled]="!createProjectForm.valid" type="submit"
                  class="button form__button reg-form__button-submit">
            Подтвердить
          </button>
          <br>
          <button (click)="createProjectForm.reset()" type="reset"
                  class="button reg-form__button reg-form__button-reset">Сбросить
          </button>
        </div>
      </div>
    </form>
  </div>
</main>
