@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  padding: 0;
  background-color: #f4f8fb;
  color: #253942;
  font-family: 'Roboto', 'Arial', sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  color: #9c9c9c;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.proj-tags__item {
  font-size: 14px;
  margin-right: 10px;
  color: #646363;
  background-color: #F4F5F7;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.button {
  height: 48px;
  width: 100%;
  background-color: #207ec9;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

.button:hover {
  background-color: #2194ef;
}

button[type=submit]:disabled {
  background: #d2d2d2;
}

button[type=submit]:disabled:hover {
  background: #d2d2d2;
  cursor: default;
}

/* label for empty list of projects */
.not-found-label {
  margin-top: 5%;
  text-align: center;
}

@media (max-width: 720px) {
  .header__menu {
    display: none;
  }

  .header__profile-link {
    display: none;
  }

  .header__adapt-menu {
    display: block;
  }
}
