.side-form {
  padding: 10px 0 30px 0;
  border-top: 1px solid #707070;
  margin-top: 20px;
}

.side-form h2 {
  text-align: center;
  margin: 10% 0 0 0;
}


.side-form__body {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-form__form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.teammate__info {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.fields {
  display: flex;
  flex-direction: row;
}

.side-form__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.side-form__comment {
  font-family: sans-serif;
  resize: none;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid #707070;
  font-size: 15px;
}

.requests {
  max-width: 900px;
  height: auto;
  padding: 30px;
  border-radius: 3px;
  margin: 0 auto 30px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.joinRequested {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.requests__header {
  .title {
    margin-top: 0;
  }
}

.side-form__item {
  margin-right: 30px;
}

.button_confirm {
  margin: 0 0 0 20px;
  width: 30%;
}

.apps {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.apps__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #7b7b7b;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
}

.body__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bebebe;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-bottom: 10px;
  text-align: center;

  div {
    &:first-child {
      flex: 3;
    }

    &:nth-child(3), &:nth-child(4) {
      flex: 2;
    }

    &:nth-child(2) {
      flex: 1;
    }

    &:last-child {
      flex: 1;
    }
  }
}

.project-view__documents {
  display: flex;
  flex-direction: column;
}

.apps__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #7b7b7b;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 20px 0 10px 0;
  text-align: center;
  font-weight: bold;

  div {
    &:first-child {
      flex: 3;
    }

    &:nth-child(3), &:nth-child(4) {
      flex: 2;
    }

    &:nth-child(2) {
      flex: 1;
    }

    &:last-child {
      flex: 1;
    }
  }
}

.row__button {
  width: 40px;
  height: 30px;
  border-radius: 3px;
  text-align: center;
  color: white;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.button-accept {
  background-color: green;
  margin-right: 15px;

  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}

.button-reject {
  background-color: red;

  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}

.project-view {
  max-width: 900px;
  height: auto;
  padding: 30px;
  border-radius: 3px;
  margin: 0 auto 30px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.title {
  padding: 15px 0;
  font-weight: bold;
}

.project-view__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-view__dead-line {
  color: #253942;
  font-weight: 500;
  margin-right: 15px;
}

.project-view__top-info {
  color: #207ec9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-info__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-view__status {
  padding: 5px;
  font-weight: bold;
}

.project-view__tags {
  align-items: center;
}

.message-board {
  padding-left: 2%;
  width: 40%;
}

.proj-tags__item {
  margin-bottom: 0;
}

.dead-line__date {
  color: #207ec9;
}

.info-block {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 20px;
}

.teams {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.team-block {
  width: 27%;
  height: auto;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  margin: 20px;
}

.curator-link {
  color: #207ec9;

  &:hover {
    text-decoration: underline;
  }
}

.snippet__proj-tags {
  display: flex;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  margin: 0 0 0 10px;
}

.team-block {
  margin-bottom: 30px;
}

.field {
  padding: 5px 10px;
}

.team-block__top {
  padding: 10px 0;
  text-align: center;
  background-color: #d2d2d2;
}

.teammate {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #bebebe;
}

.teammate__job {
  color: #253942;
  margin-bottom: 5px;
}

.teammate__name {
  color: #207ec9;
}

.teammate {
  &:last-child {
    border: none;
  }
}

.row__buttons {
  display: flex;
  justify-content: space-around;
}

button[mat-menu-item][disabled] {
  color: #d8d8d8 !important;
}

button {
  mat-icon {
    transform: scale(1.5);
  }
}

/*--------------------*/

@media (max-width: 575.98px) {
  .page-wrapper {
    width: 90%;
  }

  .project-view {
    width: 100%;
    padding: 20px 15px;
    box-sizing: border-box;
  }

  .project-view__id {
    display: none;
  }

  .top-info__right {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
  }

  .side-form__body, .side-form__form, .fields {
    flex-direction: column;
    justify-content: center;
  }

  .fields {
    width: 100%;
    text-align: center;
  }

  .side-form__item {
    width: 100%;
  }

  .button_confirm {
    margin-left: 0;
    margin-top: 20px;
  }

  .side-form__comment {
    height: 80px;
  }

  .team-block {
    width: 45%;
    margin: 5px;
  }
}

@media (max-width: 767.98px) {
  .page-wrapper {
    width: 95%;
  }

  .document {
    margin-bottom: 5%
  }

  .message-board {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .message-board {
    width: 60%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .page-wrapper {
    width: 95%;
  }
}
