<main class="main">
  <app-preloader *ngIf="loading"></app-preloader>
  <div *ngIf="!loading" class="page-wrapper">
    <div class="profile-block">
      <div class="profile-block__info">
        <div class="profile-block__left-column">
          <div class="left-column__photo">
            <img [src]="user?.avatar.length == 0 ? '../assets/img/avatar.png' : user?.avatar"
                 class="left-column__photoContent" alt="Avatar">
          </div>
          <div class="left-column__edit">
            <a *ngIf="canEdit" routerLink="/edit_profile" class="button profile-block__edit-button">Редактировать
              профиль</a>
          </div>
        </div>
        <div class="profile-block__user-info">
          <div class="user-info__name user-info__item">
            <h3><b>{{user?.surname}} {{user?.name?.length == 0 ? '' : user?.name}}
              {{user?.middle_name?.length == 0 ? '' : user?.middle_name}}</b></h3>
          </div>
          <div *ngIf="user.usergroup==='1'" class="user-info__group user-info__item">
            <span><b>Группа:</b> {{user?.stdgroup?.length == 0 ? 'информация отсутствует' : user?.stdgroup}}</span>
          </div>
          <div class="user-info__mail user-info__item">
            <span><b>Почта:</b> {{user?.email}}</span>
          </div>
          <div class="user-info__mail user-info__item">
            <span><b>Телефон:</b> {{user?.phone}}</span>
          </div>
          <div class="user-info__about user-info__item">
            <span><b>О себе:</b> {{user?.description?.length == 0 ? 'информация отсутствует' : user?.description}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="profile-block" style="background: none; box-shadow: none">
      <mat-expansion-panel [disabled]="projects?.active_projects==null" style="margin-bottom: 15px;">
        <mat-expansion-panel-header><h3>Активные проекты
          | {{projects?.active_projects?.length ? projects?.active_projects.length : 0}}</h3>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <i *ngIf="projects?.active_projects==null">Нет активных проектов</i>
          <app-project-snippet *ngFor="let project of projects?.active_projects"
                               [project]="project"></app-project-snippet>
        </ng-template>
      </mat-expansion-panel>
      <br>
      <mat-expansion-panel [disabled]="projects?.finished_projects==null">
        <ng-template matExpansionPanelContent>
          <app-project-snippet *ngFor="let project of projects?.finished_projects"
                               [project]="project"></app-project-snippet>
        </ng-template>
        <mat-expansion-panel-header><h3>Завершённые проекты
          | {{projects?.finished_projects?.length ? projects?.finished_projects.length : 0}}</h3>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </div>
  </div>
</main>
