<main class="main">
    <div class="page-wrapper">
        <div class="profile-block">
            <div class="profile-block__info">
                <div class="profile-block__left-column">
                    <div class="left-column__photo" style="background: url(assets/kek.jpg) 0 0 no-repeat; background-size: cover; 
                    background-position: center;">

                    </div>
                    <div class="left-column__edit">
                        <a href="#" class="button profile-block__edit-button">Редактировать профиль</a>
                    </div>
                </div>
                <div class="profile-block__user-info">
                    <div class="user-info__name user-info__item">
                        <h3><B>Барашкова Дарья Николаевна</B></h3>
                    </div>
                    <div class="user-info__spec user-info__item">
                        <span><b>Направление:</b> проектная деятельностьпроектная деятельностьпроектная
                            деятельностьпроектная деятельностьпроектная деятельность</span>
                    </div>
                    <div class="user-info__group user-info__item">
                        <span><b>Группа:</b> 171-331</span>
                    </div>
                    <div class="user-info__mail user-info__item">
                        <span><b>Почта:</b> example@mail.ru</span>
                    </div>
                    <div class="user-info__about user-info__item">
                        <span><b>О себе:</b> Люблю котят Люблю котят Люблю котят Люблю котят Люблю котят Люблю
                            котят Люблю котят Люблю котят Люблю котят Люблю котят Люблю котят Люблю котят Люблю
                            котят Люблю котят Люблю котят Люблю котят Люблю котят Люблю котят</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-block">
            <div class="profile-block__projects">
                <h3 class="projects-title projects__title-active">Активные проекты</h3>
                <div class="projects projects__active">
                    <a href="#" class="snippet">
                        <h3 class="snippet__proj-title">Название</h3>
                        <p class="snippet__proj-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                            vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac
                            blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor
                            mauris molestie elit, et lacinia ipsum quam nec dui
                        </p>
                        <div class="snippet__proj-tags">
                            <div class="proj-tags__item">Дизайн</div>
                            <div class="proj-tags__item">Маркетинг</div>
                        </div>
                        <div class="snippet__proj-info">
                            <span class="snippet__status">
                                Статус: <span class="status-active">Активен</span>
                            </span>
                            <span class="snippet__members">
                                Занято: 30
                            </span>
                            <span class="snippet__curator">
                                Куратор: Иван Иванов
                            </span>
                        </div>
                    </a>
                </div>
                <h3 class="projects-title projects__title-archive">Завершённые проекты</h3>
                <div class="projects projects__archive">
                    <a href="#" class="snippet">
                        <h3 class="snippet__proj-title">Название</h3>
                        <p class="snippet__proj-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit,
                            vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac
                            blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor
                            mauris molestie elit, et lacinia ipsum quam nec dui
                        </p>
                        <div class="snippet__proj-tags">
                            <div class="proj-tags__item">Дизайн</div>
                            <div class="proj-tags__item">Маркетинг</div>
                        </div>
                        <div class="snippet__proj-info">
                            <span class="snippet__status">
                                Статус: <span class="status-active">Активен</span>
                            </span>
                            <span class="snippet__members">
                                Занято: 30
                            </span>
                            <span class="snippet__curator">
                                Куратор: Иван Иванов
                            </span>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
    </div>
</main>